<div class="login">
    <div style="margin-bottom: 15px; text-align:center">
        <img src="assets/img/Logo_bleu 1.png" width="100"  alt="">
    </div>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Enter your mail</mat-label>
        <input matInput placeholder="Enter your mail" [(ngModel)]="user.email" type="email">
        <button mat-icon-button matSuffix><mat-icon>mail</mat-icon></button>
        
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    <button (click)="login()" [disabled]="user.email==='' || user.password ===''" mat-raised-button color="primary">Login</button>
    <a class="forgot" href="">Forgot password</a>

</div>
