<div *ngIf="displayAlert" class="{{msg.class}} msg" [style.top]="top">
    <h3>{{msg.text}}</h3>
    <button *ngIf="deleteAlert" mat-button  (click)="confirmDelete($event)">
        <mat-icon >done</mat-icon>
    </button>
    <button mat-button  (click)="closeAlert()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div *ngIf="categories.length===0" class="spinner"></div>
<div *ngIf="categories.length>0" class="list">
    <mat-accordion >
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h1>Liste des catégories</h1>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="col"><h3 class="title">Nom de catégorie</h3></div>
                <div class="col"><h3 class="title">Actions</h3></div>
                <mat-divider></mat-divider>
            </div>
            <div class="row" *ngFor="let category of categories">
                <mat-divider></mat-divider>
                <div class="col"><h3>{{category.name}}</h3></div>
                <div class="col">
                    <button mat-icon-button (click)="deleteCategory(category.id,category.name,$event)">
                        <mat-icon color="accent" matTooltip="supprimer">delete</mat-icon>
                    </button>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div [class.mat-elevation-z5]="fields" class="add">
    <h1>Ajouter une catégorie</h1>
    <mat-form-field class="w-100" >
        <mat-label>Nom de la catégorie</mat-label>
        <input matInput placeholder="Saisir une catégorie..."  [(ngModel)]="category">
    </mat-form-field>
    
    <button  mat-raised-button
        color="primary" 
        style="margin-top:20px"
        (click)="saveCategory($event)"
        [disabled]="category === ''">
        Enregistrer
    </button>

</div>

