.elevation{
    padding: 5%;
    margin: 5%;
}

h1,h2,h3{
    font-weight: bolder;
    margin: 0;
    padding: 0;
}





.title {
    font-weight: bolder;
}

.msg{
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    width: 83%;
    animation: fading 1s;
}

.msg h3{margin: 0; padding-left: 5px;}

@keyframes fading {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.list-article{
    padding-top: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
    
}

mat-icon{
    cursor: pointer;
}

.template{
    border: 1px solid black;
    padding: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.ar{
    border: black 1px solid;
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}


 .articles{
    width: 48%;
    display: flex;
    align-items: stretch;
}

.article100{
    width: 96%;
}


.image {
    display: flex;
}

.image img{
    width: 99%;
    height: fit-content;
}

mat-divider{
    background-color: black;
}

@media (max-width:1000px) {
	.articles{
        width: 96%;
	}
    .action{
        display: flex;
        flex-direction: row;
	}
} 

body{
    position: relative;
}
.spinner{
    border: 16px solid #140a82;
    border-top: 16px solid #ff5e1a;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top:50%;
    left: 50%;
    position: absolute;
    z-index: 100;
}

@keyframes spin {
    0% { transform: rotate(0deg)}
    100% { transform: rotate(-360deg);}
}
