h1,h2{
    font-weight: bolder;
    margin:0;
}

.title{
    font-weight: bolder;
}

.content{
    text-align: justify;
    text-justify: inter-word;
}

img{
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
}

.tag{
    display: flex;
}

.tag h3{
    margin-right: 10px;
    background: #00b0cc;
    padding: 5px;
    color: white;
    border-radius: 5px;
}