<div style="margin:5%;">



    <h1 class="mb-3">Article (add)</h1>
    <mat-divider class="w-75 my-3"></mat-divider>
    <h2>2 - Fill the fields</h2>
    <div style="margin: 5%;">
        <form [formGroup]="form">
            <div class="form row">
                <div class="col-lg-7 col-md-11 col-sm-11 ">
                    <mat-form-field class="w-100" >
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" formControlName="title" >
                    </mat-form-field>
                    
                    <mat-form-field class="w-100">
                        <mat-label>Content</mat-label>
                        <textarea matInput formControlName="content" rows="5"></textarea>
                    </mat-form-field>
                    
                    <!--
                    <angular-editor 
                        [(ngModel)]="content"
                        [config]="config"
                        formControlName="content" 
                        [placeholder]="'Enter text here...'">
                    </angular-editor>
                    -->
                    
                    <mat-form-field class="w-100 mt-3">
                        <mat-label>Choose category (choice multiple)</mat-label>
                        <mat-select multiple formControlName="category">
                          <mat-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Choose tag (choice multiple)</mat-label>
                        <mat-select multiple formControlName="tag">
                          <mat-option *ngFor="let tag of tags" value={{tag.name}}>{{tag.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <input type="checkbox" formControlName="published" id="published" class="mb-2 mr-2">
                    <label for="published" style="opacity: 0.7;">Published</label>
                </div>
                <div class="dropzone col-lg-3 col-md-9 col-sm-12">
                    <img src="assets/img/drag.png" alt="">
                    <input type="file" id="fileDropRef" (change)="ConvertToBlob($event)">
                    <h3>Drag and drop</h3>
                    <h3>file here</h3>
                    <h3>or</h3>
                    <label for="fileDropRef">Browse for file</label>
                    <h4 *ngIf="file" class="step-info">{{file.name}}</h4>
                </div>
            </div>
            <button mat-raised-button color="primary" (click)="submit($event)" class="mt-3">Submit</button>
        </form>
    </div>
</div>

<div *ngIf="displayAlert" class="{{msg.class}} msg" [style.top]="top">
    <h3>{{msg.text}}</h3>
    <button mat-button  (click)="closeAlert()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<!--[ngModelOptions]="{standalone: true}"-->
<!--<script>$('.selectpicker').selectpicker();</script>-->