<div class="elevation" *ngIf="token">
    <h2>Bonjour <span class="step-blue rounded p-1">{{name}}</span></h2>
    <h3>Vous êtes connectés à l'espace Admin du site 
        <a href='https://step-sa.fr' target="blank">https://step-sa.fr</a>
        . Selon votre rôle, vous aurez la possibilité de créer, 
        de supprimer, et de modifier des composants.
    </h3>
    <div class="row align-items-center describe">
        <div class="col-lg-10 col-md-8">
            <h2>STEP DOC</h2>
            <h3>Expert du traitement de flux documentaires et de l’environnement informatique 
                associé depuis 2001, STEP accompagne de grands comptes, des collectivités et des
                PMEI en leur proposant des solutions globales de gestion de leur Back Office : 
                numérisation hauts volumes et structuration de données, éditique, gestion du courrier…
            </h3>
        </div>
        <div class="col-lg-2 col-md-4">
            <img src="assets/img/logo3.svg" width="90%" alt="">
        </div>
    </div>

    <div class="row align-items-center describe">
        <div class="col-lg-10 col-md-8">
            <h2>STEP INFO</h2>
            <h3>Une ingénierie de qualité spécialisée dans le traitement de la donnée, 
                la reconnaissance optique de caractères, la lecture et la recherche automatique 
                de documents.
            </h3>
        </div>
        <div class="col-lg-2 col-md-4">
            <img src="assets/img/logo2.svg" width="90%" alt="">
        </div>
    </div>

    <div class="row align-items-center describe">
        <div class="col-lg-10 col-md-8">
            <h2>Studio de développement responsable</h2>
            <h3>
                Nous nous investissons auprès de nos apprenants et de nos partenaires en créant 
                avec eux un studio de développement responsable dédié aux outils et applications 
                numériques.Les consciences des sociétés se sont éveillées aux problèmes 
                d'environnement, aux situations sociales difficiles, à l'inclusion. 
                Notre studio de développement offre sa chance à des débutants sortant du 
                cursus de notre École Simplon pour les accompagner vers leurs futurs métiers 
                et leur donner une marche supplémentaire vers l'insertion.
            </h3>
        </div>
        <div class="col-lg-2 col-md-4">
            <img src="assets/img/logo1.svg" width="90%" alt="">
        </div>
    </div>

</div>



