<div style="margin:5%;">
    <h1 class="mb-3" style="float: left;">Article (edit)</h1> 
    <button mat-icon-button (click)="displayArticle()"><mat-icon color="green">visibility</mat-icon></button>
    <mat-divider class="w-75 my-3"></mat-divider>
   
    <div style="margin: 5%;" *ngIf='article'>
        <form [formGroup]="form">
            <div class="form row">
                <div class="col-lg-7 col-md-11 col-sm-11 ">
                    <mat-form-field class="w-100" >
                        <mat-label>Title</mat-label>
                        <input matInput placeholder="Title" formControlName="title" [(ngModel)]="title" >
                    </mat-form-field>
                    
                    <mat-form-field class="w-100">
                        <mat-label>Content</mat-label >
                        <textarea matInput formControlName="content" rows="5" [(ngModel)]="content"></textarea>
                    </mat-form-field>
                    
                    <mat-form-field class="w-100 mt-3">
                        <mat-label>Choose category (choice multiple)</mat-label>
                        <mat-select multiple formControlName="category" [(ngModel)]="savedCategories">
                          <mat-option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Choose tag (choice multiple)</mat-label>
                        <mat-select multiple formControlName="tag" [(ngModel)]="savedTags">
                          <mat-option *ngFor="let tag of tags" value={{tag.name}}>{{tag.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <input type="checkbox" formControlName="published" id="published" class="mb-2 mr-2">
                    <label for="published" style="opacity: 0.7;">Published</label>
                </div>
                <div class="col-lg-3 col-md-11 col-sm-11">
                    <div class="dropzone ">
                        <img *ngIf="article.image" src="https://step-s3.s3.amazonaws.com/{{article.image}}" alt="">
                        <input type="file" id="fileDropRef" (change)="ConvertToBlob($event)">
                        <h3 class="text-center">Drag and drop to modify file or</h3>
    
                        <label for="fileDropRef">Browse for file</label>
                        <h4 *ngIf="file" class="step-info">{{file.name}}</h4>
                    </div>
                    <div class="d-flex justify-content-around mt-2">
                        <button mat-icon-button class="step-green" [disabled]="!file" matTooltip="save" (click)="addImage($event)"> <mat-icon>check</mat-icon></button>
                        <button mat-icon-button class="step-orange" [disabled]="!article.image" matTooltip="delete" (click)="deleteImage($event)">
                            <mat-icon>remove</mat-icon>
                        </button>
                        
                    </div>
                </div>
            </div>
            <button mat-raised-button color="primary" (click)="submit($event)" class="mt-3">Submit</button>
        </form>
    </div>
</div>

<div *ngIf="displayAlert" class="{{msg.class}} msg" [style.top]="top">
    <h3>{{msg.text}}</h3>
    <button mat-button *ngIf="isDeleteImage" (click)="confirmDeleteImage($event)">
        <mat-icon>check</mat-icon>
    </button>
    <button mat-button  (click)="closeAlert()">
        <mat-icon>close</mat-icon>
    </button>
</div>