<div [class.mat-elevation-z5]="options" class="dialogue" *ngIf="options.length>0">
    <h1>Ajouter un composant</h1>
    <div >
        <h2>Séléctionner le type du composant </h2>
        <select 
            class="form-select" 
            [disabled]="!isSelected" 
            (change)="onSelect()" [(ngModel)]="name_component">
            <option selected hidden></option>
            <option *ngFor="let option of options" value={{option}}>{{option | titlecase}}</option>
        </select>
    </div>
    
    <div class="my-2">
        <h2>Séléctionner un champ pour le composant</h2>
        <div class="button-icon">
            <button (click)="generateInput('input','text')"  mat-stroked-button [disabled]="isValidate || name_component === ''"><mat-icon>title</mat-icon> Text</button>
            <button (click)="generateInput('input','email')" mat-stroked-button [disabled]="isValidate || name_component === ''"><mat-icon>email</mat-icon> Email</button>
            <button (click)="generateInput('input','number')" mat-stroked-button [disabled]="isValidate || name_component === ''"><mat-icon>pin</mat-icon> Number</button>
        </div>
        <div class="button-icon">
            <button (click)="generateInput('input','date')" mat-stroked-button [disabled]="isValidate || name_component === ''"><mat-icon>date_range</mat-icon> Date</button>
            <button (click)="generateInput('input','file')" mat-stroked-button [disabled]="isValidate || name_component === ''"><mat-icon>image</mat-icon> Image</button>
            <button (click)="generateInput('input','boolean')" mat-stroked-button [disabled]="isValidate || name_component === ''"><mat-icon>radio_button_checked</mat-icon> Booléen</button>
        </div>
        <div class="button-icon">
            <button (click)="generateInput('textarea','textarea')" mat-stroked-button [disabled]="isValidate || name_component === ''"><mat-icon>notes</mat-icon>Text Area</button>
        </div>
    </div>

    <div>
    </div>
    <hr>

    <div class="" >
        <h2 class="w-100">Ajouter un champ</h2><br>
        <h4 class="w-100">Type du champ: <span class="step-info mb-2">{{field_type}}</span></h4>
        <div class="row">
            <div class="inputs col-lg-8 col-md-12 ml-1">
                <input style="padding:10px;" type="text" placeholder="Field name" class="form-control w-50" [(ngModel)]="name_field" [disabled]="field_type === ''">
                <div>
                    <input 
                        [(ngModel)]="isChecked" 
                        [disabled]="name_field===''" 
                        type="checkbox" 
                        class="mr-2"
                        name="requis" id="requis">
                    <label for="requis">Champ requis?</label>
                </div>
            </div>
            <div class="col mr-1" align="right">
                <button [disabled]="name_field===''" mat-raised-button class="success" (click)="addField()">Valider</button>
            </div>
        </div>
    </div>

    <div *ngIf="fields.length>0" >
        <mat-divider></mat-divider>
        <div class="row my-1">
            <div class="col">
                <h4 style="font-weight: bolder;">Nom du champ</h4>
            </div>
            <div class="col">
                <h4 style="font-weight: bolder;">Type du champ</h4>
            </div>
            <div class="col">
                <h4 style="font-weight: bolder;">Champ requis</h4>
            </div>
            <div class="col">
                <h4 style="font-weight: bolder;">Actions</h4>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div *ngFor="let field of fields; let i = index" class="row my-1 ">
            <div class="col">
                <h4>{{field.templateOptions.label}}</h4>
            </div>
            <div class="col">
                <h4>{{field.key}}</h4>
            </div>
            <div class="col">
                <h4>{{field.templateOptions.required}}</h4>
            </div>
            <div class="col delete-champ">
                <mat-icon (click)="deleteChamp(i)" color="accent">delete</mat-icon>
            </div>
        </div>
    </div>
    <mat-divider *ngIf="name_component === 'article'"></mat-divider>
    <div class="d-flex justify-content-between mt-2 flex-wrap">
        <button class="m-1"  mat-raised-button color="accent" (click)="cancel()">Annuler</button>
        <div>
            <button class="m-1" [disabled]="!isValidate" mat-raised-button color="primary" (click)="addAnotherField()">Nouveau champ</button>
            <button  class="m-1 success" [disabled]="!isValidate || fields.length===0"  mat-raised-button (click)="saveModel()">Enregistre</button>
        </div>
    </div>
</div>





    



