.button-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.button-icon button{
    width: 120px;
    height: 60px;
    margin-bottom: 10px
}

#requis{
    margin-right: 20px;
}

mat-form-field{
    margin-left: 10px;
}

.dialogue{
    padding: 5%;
    margin:5%;
    
    position: relative;
}


h2,h1{
    font-weight: bolder;
}

.cancel{
    position: absolute;
    top: 10px;
    right: 2%;
}

.btn-link{
    font-size: 30px !important;
}

.delete-champ{
    cursor: pointer;
}

.add-champ, .inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

@media (max-width:1000px){
   
}

@media (max-width:768px){
    .add-champ{
        flex-direction:column ;
        justify-content:start
    }
    .button-icon{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* flex-wrap: nowrap; */
    }
    .button-icon button{
        width: 70%;
        height: 60px;
        margin-bottom: 10px
    }
}


