<div style="margin:5%;">
    <div  *ngIf="article" style="margin:5%;" class="row">
        <h1 class="title">{{article.title | titlecase}}</h1>
        <div class="col-12 my-3">
            <img *ngIf="article.image" src="https://step-s3.s3.amazonaws.com/{{article.image}}" alt="">
            <div *ngIf="!article.image" style="width: 100%; height:200px; background:rgb(224, 222, 222)"></div>
        </div>
        <div class="col-12">
            <h3 class="content">{{article.content}}</h3> 
        </div>
    </div>
</div>