h1,h2{
    font-weight: bolder;
    margin:0;
}

.title{
    font-weight: bolder;
}

.content{
    text-align: justify;
    text-justify: inter-word;
}

.msg{
    padding: 1%;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.msg h3{margin: 0; padding-left: 5px;}

img{
    width: 33%;
    float: left; 
    margin:10px
}

@media (max-width:1000px){
    img{
        width: 50%;
        margin:10;
    }
}

@media (max-width:768px){
    img{
        width: 100%;
        margin:0;
    }
}